<fap-toolbar></fap-toolbar>
<h2>Users:</h2>


<md-card *ngFor="let user of users">

  <h3>{{user.name}}</h3>
  <h4>{{user.education}}</h4>
  <h4>Birthday: {{user.birthday}}</h4>
  <h4>Age: {{user.age}}</h4>
  <hr>

  <button md-raised-button class="delete-button" (click)="deleteUser(user)">Delete user</button>
  <button md-raised-button class="delete-button" (click)="updateUser(user)">Update user</button>

</md-card>

<md-input-container>
  <input mdInput placeholder="Add name" [(ngModel)]="userName">
</md-input-container>
The name is: {{userName}}
<fa [name]="'users'"></fa>


