<button md-mini-fab routerLink="/users"><fa [name]="'arrow-left'"></fa></button>
<div FxFlexFill [fxLayout]="row" fxLayoutAlign="center center">
  <md-card style="margin: 0;width: 200px">
    <div>
      <fa [name]="'pencil'"></fa> Login
      <form (ngSubmit)="tryUpdate($event)">
        <md-card-content>
          <md-input-container>
            <input mdInput placeholder="Name" name="name" [(ngModel)]="inputUser.name">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Education" name="education" [(ngModel)]="inputUser.education">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Age" name="age" [(ngModel)]="inputUser.age">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Birthdate" name="birthday" [(ngModel)]="inputUser.birthday">
          </md-input-container>
        </md-card-content>
        <md-card-actions class="example-button-row">
          <button type="submit" md-raised-button color="primary">Update user</button>
        </md-card-actions>
      </form>
    </div>
  </md-card>
</div>
